* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}
.font-color-white {
  color: rgba(255, 255, 255, 1);
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;

  background: linear-gradient(
    136.62deg,
    rgba(218, 40, 255, 1),
    rgba(127, 204, 255, 1) 100%
  );
}
#banner-wrapper {
  width: 100%;
  height: 100%;
}

#banner {
  width: 100%;
  height: 100%;
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  position: relative;

  display: flex;
  justify-content: center;

  background: linear-gradient(
    196.56deg,
    rgba(0, 0, 0, 0.001) 10.43%,
    rgba(21, 5, 52, 0.64) 30.66%,
    rgba(0, 0, 0, 0.86) 37.66%,
    rgba(9, 1, 25, 0.95) 45.57%,
    rgba(0, 0, 0, 0.95) 77.38%,
    rgba(5, 1, 14, 0.95) 94.32%
  );
}
#banner-background {
  object-fit: cover;
  width: 100%;
  height: 100%;

  position: absolute;
  left: 0;
  top: 0;
}
#banner-background-gradient {
  width: 100%;
  height: 6.875rem;

  position: absolute;
  left: 0;
  top: -2.25rem;

  filter: blur(100px);
  background: rgba(214, 19, 252, 0.62);
}

#banner-content {
  width: 87vw;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* close button */
#close-button {
  width: 0.75rem;
  height: 0.75rem;
  margin-top: 1.375rem;

  position: relative;

  border: none;
  background: transparent;
  cursor: pointer;
}
#close-button::before,
#close-button::after {
  content: "";
  width: 0.125rem;
  height: 0.9375rem;

  position: absolute;
  top: 50%;
  left: 50%;

  background-color: rgba(255, 255, 255, 0.4);
  transform-origin: center;
}
#close-button::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
#close-button::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* headline */
#headline {
  margin-bottom: 1.5rem;

  font-size: 2.625rem;
  font-weight: 900;
  line-height: 2.875rem;
  letter-spacing: 0px;
  text-align: center;
}
@media only screen and (max-width: 375px) {
  #headline {
    margin-bottom: 1rem;
  }
}

/* cards */
#cards {
  width: 100%;
  margin-bottom: 2.125rem;

  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 375px) {
  #cards {
    margin-bottom: 1.625rem;
  }
}
.card-wrapper {
  width: 32%;
  height: 9.125rem;

  position: relative;

  border-radius: 12px;
  overflow: hidden;
}
@media only screen and (max-width: 375px) {
  .card-wrapper {
    height: 8.6875rem;
  }
}
.card-wrapper img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.card {
  width: 100%;
  height: 100%;

  position: absolute;
  left: 0;
  top: 0;

  display: flex;
  flex-direction: column-reverse;

  border-radius: 12px;
  background: linear-gradient(
    180deg,
    rgba(255, 130, 228, 0.2353) 0%,
    rgba(6, 9, 37, 0.56) 76.68%,
    rgba(21, 7, 47, 1) 100%
  );
}
#card-background-filter {
  width: 5rem;
  height: 1.75rem;

  position: absolute;
  top: 0;
  left: 0;

  background: rgba(0, 191, 255, 1);
  filter: blur(40px);
}
.card p {
  width: 5rem;
  margin: 0.75rem 0.5rem;

  font-size: 0.75rem;
  font-weight: 400;
  line-height: 0.875rem;
  letter-spacing: 0px;
  text-align: left;
}

/* toolbar */
#toolbar {
  margin-bottom: 2.125rem;
}
@media only screen and (max-width: 375px) {
  #toolbar {
    margin-bottom: 1.75rem;
  }
}
.btn-border-gradient-top {
  visibility: hidden;
  width: 8rem;
  height: 0.0625rem;

  position: absolute;
  top: -0.0625rem;
  right: 8.8125rem;

  background: linear-gradient(
    270deg,
    rgba(255, 150, 244, 1) 0%,
    transparent 100%
  );
}
.btn-border-gradient-left {
  visibility: hidden;

  position: absolute;
  top: -0.0625rem;
  right: -0.125rem;
}
#yearly:not(.btn-active) .btn-border-gradient-top {
  visibility: visible;
}
#yearly:not(.btn-active) .btn-border-gradient-left {
  visibility: visible;
}
#offers {
  margin-bottom: 1rem;
}
@media only screen and (max-width: 375px) {
  #offers {
    margin-bottom: 0.5rem;
  }
}
.btn {
  width: 100%;
  height: 3.5rem;
  margin: 0.5rem 0;

  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  border-radius: 100px;
  border: 1px solid transparent;
  background: rgba(255, 255, 255, 0.1);
  cursor: pointer;

  color: rgba(255, 255, 255, 0.7);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.1875rem;
  letter-spacing: 0px;
  text-align: left;
}
.btn-active {
  border: 1px solid rgba(255, 255, 255, 1);
  background: rgba(255, 255, 255, 0.3);
}
#best-offer {
  width: 7.4375rem;
  height: 1.25rem;

  position: absolute;
  top: -0.625rem;
  right: 1.4375rem;

  border-radius: 100px;

  border: 1px solid transparent;
  background: linear-gradient(
        90deg,
        rgba(188, 31, 239, 1) 0%,
        rgba(0, 53, 255, 1) 100%
      )
      padding-box,
    linear-gradient(
        270deg,
        rgba(0, 181, 255, 1) 0%,
        rgba(99, 42, 247, 1) 53.01%,
        rgba(255, 150, 244, 1) 100%
      )
      border-box;

  text-align: center;
  text-transform: uppercase;
  font-size: 0.8125rem;
  font-weight: bold;
}
.btn-active #best-offer {
  background: rgba(255, 255, 255, 1);
  color: rgba(20, 17, 49, 1);
}

.uppercase {
  text-transform: uppercase;
  font-weight: 600;
}
#yearly .uppercase,
#weekly .uppercase {
  position: absolute;
  left: 1.625rem;
}
#yearly .uppercase {
  bottom: 1.6875rem;
}
.btn .price-per-year {
  position: absolute;
  left: 1.625rem;
  top: 1.6875rem;
}
.btn .price-per-week {
  width: 4.125rem;

  position: absolute;
  right: 3.25rem;
}
#submit-offer {
  padding: 1.125rem 0;

  border: 0;
  background: rgba(255, 255, 255, 1);

  color: rgba(7, 11, 51, 1);
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5rem;
  letter-spacing: 0px;
  text-align: center;
  text-decoration: none;
}

/* links */
#links {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 0.5rem;
}
#links a {
  color: rgba(255, 255, 255, 0.3);
  font-weight: 200;
  font-size: 0.8125;
  line-height: 1.125rem;
  letter-spacing: 0px;
  text-decoration: underline;
}
